*, *::before, *::after {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: #222;
  background: #f9f9f9;
}

.task-service {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 40px;
  margin-block: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.task-service__buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.task-service__button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.task-service__button--submit {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #9e9e9e;
}

.task-service__button:hover {
  filter: brightness(0.9);
}

.task-service__button--blue {
  background-color: #1391FF;
}

.task-service__button--green {
  background-color: #009D77;
}

.task-service__button--cian {
  background-color: #009FA6;
}

.task-service__button--red {
  background-color: #CE3030;
}

.task-service__output {
  width: 100%;
  max-height: 60vh;
  padding: 15px;
  overflow-y: auto;
  background: #f1f1f1;
  border-radius: 8px;
}

.task-service__task-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 10px;
  text-align: left;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}

.task-service__task-container--important {
  border-left: 4px solid #ff1e1e;
}

.task-service__task-container--completed {
  color: #9e9e9e;
  background-color: #f0f0f0;
}

.task-service__task-container--completed .task-service__task-name {
  text-decoration: line-through;
}

.task-service__form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.task-service__input {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px black solid;
  border-radius: 5px;
}

.task-service__checkbox-container {
  display: flex;
  gap: 5px;
  align-items: center;
}
