*, *::before, *::after {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: #222;
  background: #f9f9f9;
}

.task-service {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 40px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.task-service__buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.task-service__button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.task-service__button:hover {
  filter: brightness(0.9);
}

.task-service__button--blue {
  background-color: #1391FF;
}

.task-service__button--green {
  background-color: #009D77;
}

.task-service__button--cian {
  background-color: #009FA6;
}

.task-service__button--red {
  background-color: #CE3030;
}

.task-service__output {
  width: 100%;
  max-height: 500px;
  padding: 10px;
  overflow-y: auto;
  background: #f1f1f1;
  border-radius: 8px;
}

.task-service__task-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px black solid;
  border-radius: 5px;
}
