*, *::before, *::after {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: #222;
  background: #f9f9f9;
}

.task-service {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 40px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);

  &__buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
  }

  &__button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease;

    &:hover {
      filter: brightness(0.9);
    }

    &--blue {
      background-color: #1391FF;
    }

    &--green {
      background-color: #009D77;
    }

    &--cian {
      background-color: #009FA6;
    }

    &--red {
      background-color: #CE3030;
    }
  }

  &__output {
    width: 100%;
    max-height: 500px;
    padding: 10px;
    overflow-y: auto;
    background: #f1f1f1;
    border-radius: 8px;
  }

  &__task-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    border: 1px black solid;
    border-radius: 5px;
  }
}




